# Environnement virtuel
venv/
.env

# Fichiers de base de données
db.sqlite3

# Fichiers temporaires et caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.pyc
*.sqlite3
*.db

# Fichiers IA / modèles
*.h5
*.weights
*.ckpt
*.pt

# Dossiers Django spécifiques
/static/
 /media/

#images temporaires pour la reconnaissance faciale
MEDIA_ROOT/temp_faces